// TODO Make the blog look prettier
// TODO Make styles for large screens
.nuxt-content {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin: 0 0.5rem 0.3rem;

  h1 {
    padding: 1rem 3rem;
    background: #0077aa;
    color: #f5f2f0;
    margin: 0 -1rem;
  }

  p {
    font-family: Arial, sans-serif;
  }

  table {
    border: 1px solid darkslateblue;
    border-spacing: 0;
  }

  td {
    min-width: 4rem;
    border: 1px solid darkslateblue;
    padding: 0.2rem;
    margin: 0;
  }

  img {
    width: 100vw;
  }

}
